# Dependencies
node_modules/

# Environment variables
.env

# Build output
dist/
.aws-sam/*
# Logs
.aws-sam/*
logs/
*.log
npm-debug.log*
samconfig.toml
# Testing
coverage/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
.aws-sam/*

samconfig.toml