.logo {
  color: var(--foreground);
}

.logo span {
  margin-left: 10px;
  font-size: 20px;
}

.logo h1 {
  font-family: "emoji";
  font-size: 42px;
}

.logo {
  text-align: center;
}

.header-df {
  position: fixed;
  top: -12px;
  z-index: 10000;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 13%;
  padding: 0 3%;
  background-color: #fff;
  color: #000;
  border-bottom: 1px solid rgb(121, 18, 18);
}

.header-df .logo img {
  width: 55px !important;
  height: auto;
}

.color-changer {
  display: flex;
  margin-top: 2%;
  align-items: center;
  gap: 6px;
}

.day-night {
  border: 1px solid #000;
  height: 26px;
  width: 60px;
  display: flex;
  justify-content: space-between;
  border-radius: 50px;
  padding: 2px 4px;
  position: relative;
}

.rounder-div-changer {
  position: absolute;
  width: 20px;
  height: 20px;

  /* background-color: var(--background); */
  background-color: #000;
  border: var(--borderColor) #fff;
  border-radius: 50%;
  left: 3px;
  z-index: 1;
  transition: all 0.6s ease;
}

.color-changer h3 {
  font-weight: lighter;
  font-size: 16px;
}

.menu-color {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 11%;
}

.menu svg {
  width: 35px;
  height: 35px;
  margin-top: 5px;
}

.flip-logo img {
  width: 100px;
  height: auto;
  position: absolute;
}

.flip-container {
  position: relative;
  display: inline-block;
  width: 100px;
  perspective: 800px;
}

.flip-front,
.flip-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.6s ease-in-out;
  backface-visibility: hidden;
}

.flip-back {
  transform: rotateY(180deg);
}

.flip-container:hover .flip-front {
  transform: rotateY(-180deg);
}

.flip-container:hover .flip-back {
  transform: rotateY(0deg);
}

#on {
  color: grey;
}

.second-navbar {
  margin-top: 4%;
  padding: 15px 0;
}

.second-navbar ul {
  display: flex;
  justify-content: center;
}

.second-navbar ul li {
  list-style: none;
}

.second-navbar ul li a {
  text-decoration: none;
  margin: 23px;
  font-size: 17px;
  font-weight: bold;
  position: relative;
}

.header-right {
  display: flex;
  align-items: baseline;
  gap: 20px;
}

.mobile {
  display: none;
}

#check {
  display: none;
}

@media screen and (max-width: 768px) {
  .mobile {
    display: flex;
    position: relative;
    top: 0;
  }

  .header-df.desktop {
    display: none;
  }

  #check {
    display: none;
  }

  #ham {
    cursor: pointer;
    z-index: 1001;
  }

  .second-navbar ul {
    position: absolute;
    top: 100%;
    left: -100%;
    transition: left 0.8s ease;
    flex-direction: column;
    height: 100vh;
    width: 50%;
    justify-content: flex-start !important;
    background-color: rgb(239, 239, 239);
  }

  .second-navbar.mobile-open ul {
    left: 0;
  }

  .second-navbar.mobile-open ul li {
    margin-top: 20px;
    padding: 0 10px;
  }

  .flip-logo img {
    width: 70px;
    height: auto;
  }

  #ham,
  #cancel {
    transition: all 0.4s step-end;
  }

  .nav {
    height: 100vh;
  }

  #ham {
    background: none;
    border: none;
  }

  #ham svg {
    width: 30px;
    height: 30px;
  }

  #ham svg path {
    fill: #000;
  }

  .header-right {
    align-items: center !important;
  }

  .flip-logo {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
  }

  .color-changer h3 {
    font-size: 12px;
  }

  .day-night {
    border: 1px solid #000;
    height: 21px;
    width: 54px;
  }

  .rounder-div-changer {
    position: absolute;
    width: 15px;
    height: 15px;
  }

  .header-df {
    padding: 0 10px;
    position: fixed;
    height: 50px;
  }

  .menu-color svg {
    width: 14px;
    height: 14px;
  }

  .color-changer {
    gap: 2px;
  }

  .color-changer h3 {
    display: none;
  }
}

@media (max-width: 1024px) {
  .color-changer h3 {
    display: none;
  }
}
