.about-container {
  margin-top: 10%;
  padding: 0 3%;
}

.about-content-first-row {
  display: flex;
}

html {
  scroll-behavior: smooth;
}

#place-box {
  right: 0;
  top: -30%;
}

.about-content-4-row {
  display: flex;
  justify-content: center;
}

div#process-box {
  left: 0;
}

.about-content-5-row {
  display: flex;
  justify-content: center;
}

div#practice-box {
  right: 0;
  top: -30%;
}

#people-box,
#place-box,
#process-box,
#practice-box {
  scroll-margin-top: 150px;
}

#process-content {
  top: -30%;
  left: 0;
}

#practice-content img {
  width: 950px;
  height: 1150px;
}

.about-content-4-row .people-img img,
.about-content-5-row .people-img img {
  width: 950px;
  height: 450px;
}

.about-content-first-row-left h1 {
  font-size: 5rem;
  font-family: "Lato-Bold";
}

.about-content-first-row-left {
  flex: 1 0 0;
}

.about-content-first-row-right {
  flex: 0 0 50%;
}

.about-content-first-row-right h2 {
  font-size: 2.4rem;
  line-height: 3.1rem;
  font-family: Lato-Bold;
}

.about-content-first-row-right p {
  margin-top: 15px;
  font-size: 19px;
  line-height: 1.4;
  color: #464646;
}

.about-content-first-row-right p:first-of-type {
  margin-top: 5%;
}

.four-p {
  display: flex;
  align-items: center;
  gap: 4%;
  margin-top: 4%;
}

.four-p a {
  font-size: 18px;
  color: rgb(220, 78, 78);
  font-weight: bold;
}

.about-content-2-row,
.about-content-3-row,
.about-content-4-row,
.about-content-5-row {
  margin-top: 20%;
  position: relative;
}

.about-content-5-row .people-img {
  justify-content: right;
}

.about-content-4-row .people-img {
  justify-content: left;
}

.about-content-four-row {
  display: flex;
  justify-content: center;
}

.people-content {
  position: absolute;
  top: -30%;
  max-width: 50%;
  background-color: #902b2c;
  padding: 3%;
  color: #fff;
}

.people-content p {
  margin-top: 3%;
  line-height: 1.4;
  font-size: 15px;
  color: #fff;
}

.people-content h1 {
  font-size: 2.2rem;
}

.people-img img {
  width: 850px;
  height: 450px;
  object-fit: cover;
}

.people-img {
  display: flex;
  justify-content: center;
}

#place-content {
  right: 2%;
  top: -45%;
}

#practice-content {
  right: 2%;
  top: -45%;
}

.about-content-five-row {
  display: flex;
  justify-content: center;
}

.about-us-top {
  display: flex;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
}

.about-us-top-left {
  position: relative;
  flex: 0 0 41.666%;
  max-width: 41.666%;
  padding-right: 12px;
}

.about-us-top-right {
  position: relative;
  padding-left: 43px;
  padding-right: 12px;
  z-index: 1;
  flex: 0 0 58.334%;
  max-width: 58.334%;
}

.about-us-top-right p {
  margin-top: 5%;
  font-size: 18px;
  word-spacing: 2px;
  line-height: 1.5;
}

.about-us-top-right span h3 {
  margin-top: 6%;
  font-family: "Lato-bold";
}

.about-us-top-right span ul {
  margin-top: 2%;
}

.about-us-top-right span li {
  margin-left: 5%;
  list-style: disc;
  margin-top: 10px;
}

.about-us-top-left h1 {
  position: relative;
  z-index: 1;
  margin-bottom: 4rem;
  font-size: 2.4rem;
  line-height: 3.1rem;
  font-family: "Lato-Bold";
  margin-left: 4%;
}

.about-us-top-left h1::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  background-color: #902b2c;
  width: 150px;
  height: 2px;
}

.about-us-top-right h1 {
  font-size: 2.3rem;
  font-family: "Lato-Bold";
}

.about-us {
  position: relative;
  padding: 5% 8%;
  margin-top: 5%;
  opacity: 1 !important;
}

.about-us h2 {
  position: absolute;
  left: 8rem;
  top: 0.5rem;
  font-size: 10rem;
  line-height: 9rem;
  font-weight: 900;
  -webkit-text-stroke: 0.1rem #e5e5e5;
  -webkit-text-fill-color: transparent;
  font-family: "Geist";
  width: 100%;
}

.about-us-img img {
  width: 440px;
  height: 460px;
  object-fit: contain;
}

.about-us-img video {
  width: 350px !important;
  height: 430px !important;
  margin-top: -3%;
}

#vladimir {
  /* width: 290px;
  height: auto; */
  margin-top: 4%;
  position: absolute;
  right: 10%;
  top: 30%;
}

.about-us-img {
  display: flex;
  justify-content: center;
  gap: 3%;
  position: relative;
}

#pawel {
  position: absolute;
  top: 18%;
  left: 9%;
  height: 400px;
}

.about-us-video-image {
  position: relative;
  opacity: 1 !important;
  padding: 0 21%;
  margin-top: 3%;
}

.about-us-video-text {
  position: absolute;
  left: 50%;
  top: 2%;
  transform: translate(-50%, 50%);
}

.about-us-video-text h1 {
  font-size: 10rem;
  border-color: var(--borderColor);
  -webkit-text-stroke: 0.1rem #e5e5e5;
  -webkit-text-fill-color: transparent;
  font-family: "Geist";
}

.who-we-are-btn {
  display: flex;
  justify-content: center;
  margin-top: 6%;
}

.who-we-are-btn button {
  font-size: 16px;
  padding: 5px 10px;
  background: none;
  border: 1px solid var(--borderColor);
  width: 200px;
  height: 47px;
  color: var(--foreground);
  position: relative;
  overflow: hidden;
  transition:
    color 0.3s ease,
    border-color 0.3s ease;
}

.who-we-are-btn button:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 2%;
  height: 100%;
  background-color: #902b2c;
  transition: all 0.8s cubic-bezier(0.7, -0.5, 0.2, 2);
  z-index: 0;
}

.who-we-are-btn button span {
  position: relative;
  z-index: 2;
  color: var(--foreground);
  transition: color 0.3s ease;
}

.who-we-are-btn button:hover:before {
  width: 100%;
}

.who-we-are-btn button:hover span {
  color: white;
}

.who-we-are-btn button:hover {
  border-color: white;
}

[class^="number-slide"],
[class*=" number-slide"] {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--foreground);
  font-weight: 500;
  max-height: 100vh;
}

button.prev-button,
button.next-button {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: none;
  /* background: #000000; */
  background-color: var(--backgroundColor);
  color: var(--foreground);
  /* color: #fff; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  cursor: pointer;
  z-index: 5;
}

button.prev-button {
  left: 1%;
}

button.next-button {
  right: 1%;
}

button.prev-button:hover,
button.next-button:hover {
  background: #a50f12;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
  transform: scale(1.1);
}

button.prev-button:active,
button.next-button:active {
  transform: scale(1.05);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.about-content-2-row {
  margin-top: 14%;
}
