.about-container {
  margin-top: 10%;
  padding: 0 3%;
}

.about-content-first-row {
  display: flex;
}

html {
  scroll-behavior: smooth;
}

#people-box,
#place-box,
#process-box,
#practice-box {
  scroll-margin-top: 150px;
}

#process-content {
  top: -28%;
  right: 20%;
}

#practice-content img {
  width: 850px;
  height: 1150px;
}

.about-content-first-row-left h1 {
  font-size: 5rem;
}

.about-content-first-row-left {
  flex: 1 0 0;
}

.about-content-first-row-right {
  flex: 0 0 50%;
}

.about-content-first-row-right h2 {
  font-size: 3rem;
  letter-spacing: 1.5px;
  line-height: 1.1;
}

.about-content-first-row-right p {
  margin-top: 15px;
  font-size: 19px;
  line-height: 1.4;
  color: #464646;
}

.about-content-first-row-right p:first-of-type {
  margin-top: 5%;
}

.four-p {
  display: flex;
  align-items: center;
  gap: 4%;
  margin-top: 4%;
}

.four-p a {
  font-size: 18px;
  color: rgb(220, 78, 78);
  font-weight: bold;
}

.about-content-second-row,
.about-content-third-row,
.about-content-four-row,
.about-content-five-row {
  margin-top: 38%;
  position: relative;
}

.about-content-four-row .people-img img,
.about-content-five-row .people-img img {
  width: 700px;
  height: 1050px;
}

.about-content-five-row .people-img {
  justify-content: right;
}

.about-content-four-row .people-img {
  justify-content: left;
}

.people-content {
  position: absolute;
  top: -53%;
  max-width: 50%;
  background-color: #902b2c;
  padding: 3%;
  color: #fff;
}

.people-content p {
  margin-top: 3%;
  line-height: 1.4;
  font-size: 19px;
}

.people-content h1 {
  font-size: 3.2rem;
}

.people-img img {
  width: 1150px;
  height: 650px;
  object-fit: cover;
}

.people-img {
  display: flex;
  justify-content: center;
}

#place-content {
  right: 2%;
  top: -45%;
}

#practice-content {
  right: 2%;
  top: -45%;
}
