/* .project-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(350px, 1fr));
  gap: 30px;
  margin-top: 40px;
  padding: 50px;
} */

.project-content {
  margin-top: 10%;
}

.project-heading {
  margin: 3%;
}

#project-hr {
  margin-top: 3%;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 40px 30px;
}

@media (max-width: 1024px) {
  .project-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .project-grid {
    grid-template-columns: 1fr;
  }
}

.project-tile {
  text-align: center;
  display: block;
  color: inherit;
  text-decoration: none;
}

.image-wrapper-pr {
  width: 100%;
  aspect-ratio: 4 / 3; /* Maintains same height across */
  overflow: hidden;
  border-radius: 8px;
  position: relative;
}

.image-wrapper-pr img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.image-title {
  margin-top: 10px;
  font-size: 1.2rem;
  font-weight: 500;
  color: #000000;
  text-align: left;
}
